<div class="branch-selector-fullwidth-wrapper">
    <div class="container accordion">
        <div class="branch-selector-toggle accordion-title">
            <button type="button" class="branch-selector-toggle-button">
                Spartenauswahl
            </button>
        </div>
        <ul class="branch-selector">
          {{# branches }}
            <li class="branch-selector-item">
                <a href="#" class="branch-selector-item-link">
                    <i class="branch-selector-item-icon {{ classname }}"></i>
                    <span class="branch-selector-item-caption">{{ label }}</span>
                    {{# numberOfContracts }}
                      <span class="branch-selector-item-indicator label label-default">{{ numberOfContracts }}</span>
                    {{/ numberOfContracts }}
                </a>
            </li>
          {{/ branches }}
        </ul>
    </div>
</div>
