<div class="listing-header">
  <h2>Netzwerk</h2>
</div>

<ul class="contact-network">
  {{# household }}
  <li>
    <a href="#" class="h-card">{{ name }}</a>
    <span class="contact-role">
      <span class="contact-role-name">{{ relationship }}</span>
    </span>
  </li>
  {{/ household }}
</ul>
